
.media-image{
	width:100px;
	height:100px;
	border:1px solid #dae1e7;
	background:#f8fafc;
	position:relative;
	border-radius:2px;
}

.media-image:after{
	position:absolute;
	content:attr(data-meta);
	font-size:12px;
  top:43px;
  left:25px;
  color:inherit; /* #dae1e7 */
  text-transform:capitalize;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #0a0a0a33;
  border-radius: 50%;
  display: inline-block;
  color:#fff;
  position:relative;
  font-weight:bold;
  cursor:pointer;
}

.dot:after{
  content:'×';
  position:absolute;
  top:5px;
  left:7px;
}


/*.media-list{
	padding-left:20px !important;
}
*/
