@font-face {
  font-family: "Dosis";
  src: url("Dosis-Regular.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("Dosis-Light.woff") format('woff');
  font-style: italic;
}

@font-face {
  font-family: "Dosis";
  src: url("Dosis-Medium.woff") format('woff');
  font-weight: 500;
}


@font-face {
  font-family: "Dosis";
  src: url("Dosis-SemiBold.woff") format('woff');
  font-weight: 600;
}

@font-face {
  font-family: "Dosis";
  src: url("Dosis-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "Dosis";
  src: url("Dosis-ExtraBold.woff") format('woff');
  font-weight: bolder;
}

.comforta-test {
    font-family: "Dosis";
}